version: 2
updates:
  # Maintain dependencies for GitHub Actions in the root
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      github-actions:
        patterns:
          - "*"
