name: Update Template Dependencies

on:
  schedule:
    # Run at 05:00 every 2 days
    - cron: "0 5 */2 * *"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  update-deps:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6.1.0
        with:
          python-version: "3.12"

      - name: Keepalive Workflow
        uses: gautamkrishnar/keepalive-workflow@v2

      - name: Run update script
        run: python tools/update_dependencies.py

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "chore: update template python dependencies"
          title: "chore: update template python dependencies"
          body: "Automated updates for pinned dependencies in `pyproject.toml`."
          branch: "chore/update-dependencies"
          delete-branch: true
